.usa-banner{
    width: 100%;
    background-color: #dfe1e2;
}

.usa-language-container{
    width: fit-content;
}

#logoutButton{
    margin-right: 30px;
}
#containerToCenterLanguageSelectorAndLogoutButtonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #dfe1e2;
}

#languageSelectorAndLogoutButtonContainer{
    width: 64rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #dfe1e2;
}

#containerToCenterHeaderGrid{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #dfe1e2;
}

#headerGrid{
    width: 64rem;
    display: flex;
    background-color: #dfe1e2;
}

.headerGridElement{
    color: white;
    background-color: #005ea2;
    border-radius: .25rem;
    display: flex;
    align-items: center;
}

.usa-navbar{
    height: 15vh;
}

.usa-step-indicator{
    display: flex;
    justify-content: center;
    background-color: #dfe1e2;
    margin-bottom: 0%;
    padding-bottom: 1vh;
}

.usa-step-indicator__segments{
    display: flex;
    justify-content: center;
}

#extended-logo{
    margin-top: 0%;
    background-color: #dfe1e2;
}

#federalTaxCalculator{
    margin-top: 2vh;
}