.bg-white{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usa-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
}